
<body>
<div class="calculator">

<details>
    <summary>Home Loan Application Process</summary>
    <p>
      1.Fill the Loan Application Form & Attach the Documents
      2.Pay the Processing Fee
      3.Discussion With the Bank
      4.Valuation Of the Documents
      5.The Sanction/Approval Process
      6.Processing the Offer Letter
      7.Processing the Property Papers Followed By A Legal Check
      8.Processing A Technical Check & the Site Estimation
      9.The Final Loan Deal
      10.Signing the Agreement
      11.The Loan Disbursal</p>
  </details>

<br>
  <details>
    <summary>Types of Home Loans Offered</summary>
    <p>1. Basic Home Loan
      2. Home Construction Loan
      3. Home Extension/Improvement Loan
      4. Home Loan Balance Transfer
      5. Pradhan Mantri Awas Yojana (PMAY)
    </p>
  </details>

  <br>
  <details>
    <summary>Factors of Home Loan Approval in India</summary>
    <p>
      These include your age, income, credit history, city of residence, etc. So, in order to get a quick home loan sanction letter on a high amount at nominal interest rates you must meet these home loan eligibility criteria. Take a look at the factors that determine your eligibility for a home loan.
    </p>
  </details>


  <br>
  <details>
    <summary>Home Loan Interest Rate</summary>
    <p>
      home loans at interest rates starting from 8.35% p.a. The final interest rates offered to home loan applicants would depend on their credit score, loan amount, occupation profile, employer’s profile, etc. As even a slight difference in the interest rate can lead to a significant difference in the total interest cost for the home loan borrower, prospective borrowers should compare the interest rates offered by as many lenders as possible before making the loan application.
    </p>
  </details>


</div>
</body>