<!--
<div class="container-fluid">
  <div class="topnav">
    <a class="active" routerLink="homepage">Home</a>
    <a routerLink="emi">EMI CALCULATOR</a>
    <a routerLink="apply">PROCESS TO APPLY</a>
    <a routerLink="faqs">FAQs</a>
    <a routerLink="about">ABOUT US</a>
    <a routerLink="contac">CONTACT US</a>
  </div>
</div> -->

<div class="row mb-3 d-flex">
  <div style="height: 50px;" class="col-md-2 themed-grid-col colorchange"><h4 align="center"><a class="active" routerLink="homepage">Home</a></h4></div>
  <div class="col-md-2 themed-grid-col colorchange"><h4 align="center"><a class="active" routerLink="emi">EMI CALCULATOR</a></h4></div>
  <div class="col-md-2 themed-grid-col colorchange"><h4 align="center"><a class="active" routerLink="apply">PROCESS TO APPLY</a></h4></div>
  <div class="col-md-2 themed-grid-col colorchange"><h4 align="center"><a class="active" routerLink="faqs">FAQs</a></h4></div>
  <div class="col-md-2 themed-grid-col colorchange"><h4 align="center"><a class="active" routerLink="about">ABOUT US</a></h4></div>
  <div class="col-md-2 themed-grid-col colorchange"><h4 align="center"><a class="active" routerLink="contac">CONTACT US</a></h4></div>
</div>

  <!-- <div class="container-fluid">
    <header class="d-flex justify-content-center py-3 ">
      <ul class="nav nav-pills border-1">
        <li class="nav-item"><a routerLink="homepage" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="emi" class="nav-link">EMI CALCULATOR</a></li>
        <li class="nav-item"><a routerLink="apply" class="nav-link">PROCESS TO APPLY</a></li>
        <li class="nav-item"><a routerLink="faqs" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a routerLink="about" class="nav-link">About</a></li>
        <li class="nav-item"><a routerLink="contac" class="nav-link">Contact Us</a></li>
      </ul>
    </header>
  </div> -->
