<!-- <nav >
    <h1>   <i class="fa fa-home" aria-hidden="true"></i>   |  SPSP Home Loan Finance</h1>

        <h6> CALL US  <br> +918806847689</h6>

     <button routerLink="login">Login</button>

  </nav> -->
<!--
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="margin-left: 20px;">SPSP Finance</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse p-3" id="navbarNavDropdown" style="margin-left: 1000px;">
        <ul class="navbar-nav" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" style="margin-left: 60px;">Registration</a>
          </li>

        </ul>
      </div>
    </div>
  </nav> -->
<!-- <br> -->
  <!-- <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="assets\image\7.jpeg" alt="" height="70px" width="auto">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><b>SPSP FINANCE</b></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="login" class="nav-link active" aria-current="page">LOGIN</a></li>
        <li class="nav-item"><a routerLink="enq" class="nav-link">Registration</a></li>

      </ul>
    </header>
  </div> -->

  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          <img src="assets\image\7.jpeg" height="50px" width="auto" alt="">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left: 20px;">
          <li><a href="#" class="nav-link px-2 text-white" style="font-size: 40px;"><b style="color: rgb(195, 195, 38);">SPSP FINANCE</b></a></li>
          <!-- <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form> -->

        <div class="text-end">
          <button type="button" routerLink="login" class="btn btn-outline-light me-2">Login</button>
          <button type="button" routerLink="enq" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
