.calculator { 
    width: 500px; 
    height: 400px; 
    background-color: dimgrey; 
    position: absolute; 
    left: 50%; 
    top: 57%; 
    transform: translateX(-50%) translateY(-50%); 
    padding: 20px 0px 0px 00px; 
    border-radius: 30px; 
    color: white; 

 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}