<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">enquiry Id</th>
      <th scope="col">fullname</th>
      <th scope="col">gender</th>
      <th scope="col">mobileNo</th>
      <th scope="col">emailId</th>
      <th scope="col">pancardNo</th>
      <th scope="col">address</th>
      <th scope="col">uname</th>
      <th scope="col">password</th>
    </tr>
  </thead>
  <tbody *ngFor="let e of enquiryList" >
    <tbody>
    <tr *ngFor="let e of enquiryList">
      <th scope="row">{{e.eid}}</th>
      <td>{{e.fullname}}</td>
      <td>{{e.gender}}</td>
      <td>{{e.mobileNo}}</td>
      <td>{{e.emailId}}</td>
      <td>{{e.pancardNo}}</td>
      <td>{{e.address}}</td>
      <td>{{e.uname}}</td>
      <td>{{e.password}}</td>
    </tr>
  </tbody>
</table> -->
<h2>cibil approve</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

