

<body>
    <div class="calculator">

        <h2>FAQs about Home Loans</h2>

    <details>
        <summary>Home Loan Application Process</summary>
        <p>
          </p>
      </details>

    <br>
      <details>
        <summary>Types of Home Loans Offered</summary>
        <p>

        </p>
      </details>

      <br>
      <details>
        <summary>Factors of Home Loan Approval in India</summary>
        <p>
        </p>
      </details>


      <br>
      <details>
        <summary>Home Loan Interest Rate</summary>
        <p>
        </p>
      </details>


    </div>
    </body>
