<table class="table">
  <thead>
    <tr>
      <th scope="col">enquiry Id</th>
      <th scope="col">fullname</th>
      <th scope="col">gender</th>
      <th scope="col">mobileNo</th>
      <th scope="col">emailId</th>
      <th scope="col">pancardNo</th>
      <th scope="col">address</th>
      <th scope="col">uname</th>
      <th scope="col">password</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let e of enquiryList" >
    <tr>
      <th scope="row">{{e.eid}}</th>
      <td>{{e.fullname}}</td>
      <td>{{e.gender}}</td>
      <td>{{e.mobileNo}}</td>
      <td>{{e.emailId}}</td>
      <td>{{e.pancardNo}}</td>
      <td>{{e.address}}</td>
      <td>{{e.uname}}</td>
      <td>{{e.password}}</td>
      <td><button class="btn btn-primary" (onClick)="onTransfer()">Transfer</button></td>
    </tr>
  </tbody>
</table>
